# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.swp
*.bak
*.log

# Virtual environment
env/
venv/
ENV/
.env

# Django static & media
staticfiles/
media/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Secret files
*.sqlite3
.env.*

# Docker
*.tar
*.pid

# AWS credentials (if you ever use CLI config)
.aws/

# Git & coverage
.git/
.coverage
htmlcov/
coverage.xml

# Migrations (optional, depending on versioning preference)
**/migrations/*.py
**/migrations/*.pyc

# Ignore local test results
.pytest_cache/
.env

# Ignore local environment files
.windowgeniusai.env
windowgeniusai.env	

# Ignore local configuration files
.cache/
nosetests.xml
test-results/

# Ignore IDE specific files
.idea/

# Ignore Python egg files
*.egg-info/
dist/
build/

# Ignore database dumps
*.dump
*.sql
*.backup

# Ignore shell scripts
*.sh
